<!DOCTYPE html>
<html>

<head th:replace="~{base2 :: head}"></head>

<body>

    <!--importar o navbar do template-->
   <nav th:replace="~{base2 :: nav}"></nav>

    <div class="table-responsive container table corpoManterPacientes">
        <br>
        <h1 class="text-black ">Lista de Medicos</h1>
        <br>

        <a href="/medico/cadastrarMedico"><button class="btn btn-primary btnAddPaciente">Adicionar Medico</button></a>

        <form class="BuscarPaciente" id="frmRemoverCliente" name="pesquisarPacienteNome.php" method="POST"
            action="pesquisarMedicoID.php">
            <div class="form-group col-md-5">
                <label class="nomePaciente" for="lblNome">Buscar por ID :</label>
                <input class="form-control caixaNomePaciente" id="txtId" name="txtId" placeholder="Digite o ID"
                    required="">
                <input type="submit" id="botaoEnviar" name="botaoEnviar" class="btn btn-success btnPesquisarMedico"
                    value="Pesquisar">
            </div>
        </form>


        <br>
        <br>
        <div class="container col-md-10 ListarPacientes">
            <table class="table table-striped">
                <tr>
                    <th class=" text-center col-md-1 id">ID</th>
                    <th class=" text-center col-md-1">Nome</th>
                    <th class=" text-center col-md-1">cpf</th>
                    <th class=" text-center col-md-1">Telefone</th>
                    <th class=" text-center col-md-1">CRM</th>
                    <th class="text-center col-md-1">Operações</th>

                </tr>
                <div th:each="medico : ${medicos}">
                    <tr>
                        <td class="text-center"><div th:text="${medico.id}">id</div></td>
                        <td class="text-center"><div th:text="${medico.nomeMedico}">nomeMedico</div></td>
                        <td class="text-center"><div th:text="${medico.cpf}">cpfMedico</div></td>
                        <td class="text-center"><div th:text="${medico.telefone}">telefone</div></td>
                        <td class="text-center"><div th:text="${medico.crm}">crm</div></td>
                        <td class="text-center">
                            <button class="btn btn-primary btn-sm"><i class="fas fa-sign-in-alt"></i></button>
                        </td>
                    </tr>
                </div>


            </table>




        </div>


    </div>
</body>

</html>