<!DOCTYPE html>
<html>

<head th:replace="~{base2 :: head}"></head>

<body class="fundo">

    <!--importar o navbar do template-->
    <nav th:replace="~{base2 :: nav}"></nav>


    <div class="logo">
        <img src="https://i.ibb.co/09QwgK4/logoHM.png">

    </div>

    <div class="LogoHome">
        <h1> Hospital Pronto Atendimento </h1>

    </div>

    <div class="btnLogoutHome">
        <input type="button" id="botaoEnviar" name="botaoEnviar" class="btn btn-danger" value="Logout"
            onclick="javascript:location.href='logout.php'">
    </div>

    <div class="info1">
        <label class="form-group">Telefone: (018)3371-3041 / Celular (018)99705-4455</label>
    </div>
    <div class="info2">
        <label class="form-group">Email: reinaldomaracai@gmail.com</label>
    </div>
    <div class="info3">
        <label class="form-group">Endereço: Av José Bonifacio 900 - Maracaí - SP</label>
    </div>


</body>

</html>