<!DOCTYPE html>
<html>

<head th:replace="~{base2 :: head}"></head>

<body class="fundo">

    <!--importar o navbar do template-->
    <nav th:replace="~{base2 :: nav}"></nav>

    <div class="container-fluid text-center mt-5 mb-5">
        <img src="https://i.ibb.co/09QwgK4/logoHM.png">

    </div>
    <div class="container-fluid text-center mt-5">
        <h1> Hospital Pronto Atendimento </h1>
        <label class="form-group">Telefone: (018)3371-3041 / Celular (018)99705-4455</label><br>
        <label class="form-group">Email: reinaldomaracai@gmail.com</label><br>
        <label class="form-group">Endereço: Av José Bonifacio 900 - Maracaí - SP</label>
    </div>


</body>

</html>